<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}Some page{% endblock %}</title>
</head>
<body>
  {% block content %}
    <div class="content">
      {% block app_content %}

      {% endblock %}
    </div>
  {% endblock %}
</body>
</html>

{% block scripts %}
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}
